body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    /*i tried making my own font, got stuck behind a paywall :(*/
}

#login {
    background-color: rgb(23, 54, 192);
    color: black;
}
.post {
    background: white;
}
.post > h2, p {
    margin: 4px;
    font-size: 90%;
}
.blogposts {
    margin: 0px;
    padding: 5px;
    background-color: lightgray;
}

.blogposts > h1, .post {
    margin: 10px;
    padding: 5px;
}