body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
    /* i tried making my own font, got stuck behind a paywall :( */
}

#login {
    background-color: rgb(23, 54, 192);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.post {
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.post > h2, .post > p {
    margin: 4px;
    font-size: 90%;
}

.blogposts {
    margin: 0px;
    padding: 5px;
    background-color: lightgray;
}

.blogposts > h1, .post {
    margin: 10px;
    padding: 5px;
}
