<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login. As simple as that.</h1>
    <form id="LoginForm">
        <label for="username">Username: </label>
        <input type="text" id="username"> <br>
        <label for="password">Password: </label>
        <input type="text" id="password"> <br>
        <button type="submit">Submit</button>
    </form>
    <script src="/static/admin_login.js"></script>
</body>
</html>