<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>superhenryman's blog</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}">
</head>
<body>
    <p id="error" style="display: none; color: red;"></p>
    <p id="loading" style="display: none;">Loading...</p>
    <nav><button id="login" onclick="window.location.href='https://shmblog.up.railway.app/adminlogin'">Sign In</button></nav>
    <h1>Hi, welcome to my blog!</h1>
    <p>I'll post... whatever people on blogs post.</p>
    <p>and no this isn't wordpress i'd rather fall into lava than use <em>PHP...</em></p>
    <article class="blogposts" id="blogposts"></article>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
