<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>superhenryman's blog</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav><button id="login" onclick="window.location.href='https://web-production-5d1da.up.railway.app/adminlogin'">Sign In</button></nav>
    <h1>Hi, welcome to my blog!</h1>
    <p>I'll post... whatever people on blogs post.</p>
    <p>and no this isn't wordpress i'd rather fall into lava than use <em>PHP...</em></p>
</body>
</html>